{% extends 'base.html' %}
{% block content %}
<div class="container ">
<div class="row ">
    <div class="col-sm">
        <img src="{{job.image.url}}" alt="" style="width: 700px; height: 500px;">
        <h5>В данный момент это обьявление рассматривает:  </h5>
        <p style="color: green;">{{ job.employees.all|join:"," }}</p>
    </div>

    <div class="col-sm">
    <h1>{{ job.jobTitle }}</h1>
    <!-- <p>{{ tasks.all.title }}</p> -->
    {% for task in tasks %}
    <p style="font-weight: bold;">{{ task.title }}:</p>
    <p>{{task.description}}</p>
{% endfor %}
</div>
<a href="{% url 'delete' job.id %}" class="btn btn-danger">Delete</a>
</div>


</div>
{% endblock %}